@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --background: 0 0% 98%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 145 100% 34.9%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --radius: 0.5rem;

    --border: 112 7% 45%;
    --bgs: 101 68% 96%; */

    --background: 148 73% 91%; /* #F3FCEF */
    --surface: 148 73% 91%; /* #F3FCEF */
    --on-background: 148 29% 20%; /* #161D16 */
    --on-surface: 148 29% 20%; /* #161D16 */
    --border: 112 10% 45%; /* #6D7B6B */

    --primary1: 145 100% 35%; /* #00B24B */
    --primary: 144 100% 41%; /* #006E2B */
    --on-primary: 0 0% 100%; /* #FFFFFF */
    --primary-container: 144 100% 41%; /* #00B24B */
    --on-primary-container: 144 100% 11%; /* #003B14 */

    --secondary: 30 10% 92%; /* #605E58 */
    --on-secondary: 0 0% 100%; /* #FFFFFF */
    --secondary-container: 30 10% 92%; /* #F8F4EB */
    --on-secondary-container: 30 10% 43%; /* #716F68 */

    --tertiary: 200 100% 27%; /* #00658F */
    --on-tertiary: 0 0% 100%; /* #FFFFFF */
    --tertiary-container: 200 100% 66%; /* #3FA1D8 */
    --on-tertiary-container: 200 100% 15%; /* #00344D */

    --error: -5 100% 36%; /* #BA1A1A */
    --on-error: 0 0% 100%; /* #FFFFFF */
    --error-container: -5 100% 84%; /* #FFDAD6 */
    --on-error-container: -5 100% 22%; /* #93000A */

    --surface-variant: 145 20% 83%; /* #D8E7D4 */
    --outline: -4.5 12% 45%; /* #6D7B6B (same as border) */

    --accent: 194 100% 41%;
  }

  /* .dark {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --tertiary: 0 0% 90%;
    --tertiary-foreground: 0 0% 9%;

    --subtle: 240 6% 90%;
    --subtle-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
  } */
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE/Edge */
    scrollbar-width: none; /* Firefox */
  }
}

::selection {
  background-color: rgba(168, 85, 247, 0.2);
  color: hsl(var(--foreground));
}

html,
body {
  font-family: "DM Sans", sans-serif !important;
}

::-webkit-scrollbar {
  width: 6px;
  scrollbar-color: #262626;
}

::-webkit-scrollbar-thumb {
  background-color: #262626;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

.gradient {
  background: conic-gradient(
    from 230.29deg at 51.63% 52.16%,
    rgb(36, 0, 255) 0deg,
    rgb(0, 135, 255) 67.5deg,
    rgb(108, 39, 157) 198.75deg,
    rgb(24, 38, 163) 251.25deg,
    rgb(54, 103, 196) 301.88deg,
    rgb(105, 30, 255) 360deg
  );
}

.not-found {
  box-shadow: rgba(150, 18, 226, 0.3) 5px 5px;
}

/* 
Primary:- #00B24B
Secondary:- #F8F4EB 
Accent:- #3FA1D8
*/

@keyframes border-glow {
  0% {
    opacity: 0.2;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    opacity: 0.2;
    transform: scale(1);
  }
}

.animate-border-glow {
  animation: border-glow 2s infinite ease-in-out;
}

/* 
  Primary - #00B24B
  Secondary - #F8F4EB
  Accent - #3FA1D8
*/
